extends layout.pug

block content
    h1= title
    p
        strong Book Title: 
        | #{book.title}
    p
        strong Loaned By: 
        | #{book.Loans[0].Patron.getFullname()}
    p
        strong Loaned On: 
        | #{book.Loans[0].loaned_on}
    p
        strong Return By: 
        | #{book.Loans[0].return_by}
    form(
        action=`/loans/${book.Loans[0].id}?_method=PUT` method="POST"
    )
        p
            label(for='returned_on') Returned on:
            input#returned_on(type='text', value=loan.returned_on name='returned_on')
        p
            input(type='submit', value='Return Book')
