extends layout.pug

block content 
    h1= title
    p
        a.button(href='/books/new') Create New Book
    p
        | Filters 
        
        a(href='/books?filter=all' class=filter === 'all' ? "active" : "") All
        |  
        a(href='/books?filter=overdue' class=filter === 'overdue' ? "active" : "") Overdue
        |  
        a(href='/books?filter=checked_out' class=filter === 'checked_out' ? "active" : "") Checked Out
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year Released
        tbody
            each book in books
                tr
                    td
                        a(href=`/books/${book.id}/detail`) #{book.title}
                    td= book.author
                    td= book.genre
                    td= book.first_published
