extends layout.pug

block content 
    h1= title
    p
        a.button(href='/loans/new') Create New Loan
    p
        | Filters 
        a(href='/loans?filter=all' class=filter === 'all' || filter === undefined ? "active" : "") All
        |  
        a(href='/loans?filter=overdue' class=filter === 'overdue' ? "active" : "") Overdue
        |  
        a(href='/loans?filter=checked_out' class=filter === 'checked_out' ? "active" : "") Checked Out
    table
        thead
            tr
                th Book
                th Patron 
                th Loaned on
                th Return by 
                th Returned on
                th Action
        tbody
            each loan in loans 
                tr
                    td
                        a(href=`/books/${loan.book_id}/detail`) #{loan.Book.title}
                    td
                        a(href=`/patrons/${loan.patron_id}/detail`) #{loan.Patron.first_name} #{loan.Patron.last_name}
                    td= loan.loaned_on
                    td= loan.return_by
                    td= loan.returned_on 
                    td
                        if (!loan.returned_on)
                            a.button(href='return_book.html') Return Book
            
